In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline
import matplotlib.pyplot as plt  # Matlab-style plotting
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)


from scipy import stats
from scipy.stats import norm, skew #for some statistics


pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x)) #Limiting floats output to 3 decimal points

In [2]:
train = pd.read_csv("input/sales_train.csv")
test = pd.read_csv("input/test.csv")
items = pd.read_csv("input/items.csv")
itemsCat = pd.read_csv("input/item_categories.csv")
shops = pd.read_csv("input/shops.csv")
test["date_block_num"] = 34

In [3]:
import math
def get_second(strings):
    if isinstance(strings, str):
        temp = strings.split(" - ")
        if len(temp) > 1:
            return temp[1].strip()
        return "NA"
    return "NA"
def get_first(strings):
    if isinstance(strings, str):
        temp = strings.split(" - ")
        return temp[0].strip()
    return "NA"

In [4]:
test = (test
 .merge(items, left_on='item_id', right_on='item_id', how='inner')
 .sort_values("item_id")
 .merge(itemsCat, left_on='item_category_id', right_on='item_category_id', how='inner')
 .merge(shops, left_on='shop_id', right_on='shop_id', how='inner')
)

train = (train
 .merge(items, left_on='item_id', right_on='item_id', how='inner')
 .sort_values("item_id")
 .merge(itemsCat, left_on='item_category_id', right_on='item_category_id', how='inner')
 .merge(shops, left_on='shop_id', right_on='shop_id', how='inner')
)

test = test.dropna()
test["cat1"] = test.item_category_name.map(lambda x: x.split(" - ")[0].strip())
test["cat2"] = test.item_category_name.map(lambda x: get_second(x))

train = train.dropna()
train["cat1"] = train.item_category_name.map(lambda x: x.split(" - ")[0].strip())
train["cat2"] = train.item_category_name.map(lambda x: get_second(x))

In [5]:
train = train.drop(["item_name","item_category_name","shop_name","date","item_price"],axis=1).head()
train = train[["item_cnt_day","date_block_num","shop_id","item_id","item_category_id","cat1","cat2"]]
train.head()

   item_cnt_day  date_block_num  shop_id  item_id  item_category_id  cat1 cat2
0         1.000              20       54        0                40  Кино  DVD
1         1.000              19       54        2                40  Кино  DVD
2         1.000              22       54        2                40  Кино  DVD
3         1.000              18       54        3                40  Кино  DVD
4         1.000              19       54        3                40  Кино  DVD

In [6]:
test = test.drop(["item_name","item_category_name","shop_name"],axis=1).head()
test = test[["ID","date_block_num","shop_id","item_id","item_category_id","cat1","cat2"]]
test.head()

       ID  date_block_num  shop_id  item_id  item_category_id  cat1 cat2
0  206587              34       39       30                40  Кино  DVD
1  204595              34       39       32                40  Кино  DVD
2  204528              34       39       64                40  Кино  DVD
3  204596              34       39       67                40  Кино  DVD
4  207082              34       39       72                40  Кино  DVD

In [7]:
from sklearn.model_selection import train_test_split
cols_to_use = ["date_block_num","shop_id","item_id","item_category_id","cat1","cat2"]
X = train[cols_to_use]
y = train.item_cnt_day
train_X, test_X, train_y, test_y = train_test_split(X, y)

In [ ]:
def convertCat(aDFXVals,catCols):
    anotherDF = aDFXVals[catCols].apply(LabelEncoder().fit_transform)
    nonCatCols = aDFXVals.drop(catCols,axis=1)
    result = pd.concat([nonCatCols, anotherDF], axis=1)
    return result

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

def oneHotEncodeDF(someDF, numericalCols = None, categoricalCols = None):
    someDF[categoricalCols] = someDF[categoricalCols].apply(LabelEncoder().fit_transform)
    someDF[numericalCols] = someDF[numericalCols].apply(OneHotEncoder().fit_transform)
    someDF.drop(numericalCols,axis=1,inplace=True,errors="ignore")
    someDF.drop(categoricalCols,axis=1,inplace=True,errors="ignore")
    return someDF

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline

my_pipeline = make_pipeline(LabelEncoder(["cat1","cat2"]), RandomForestRegressor())

TypeError: object() takes no parameters

In [ ]:
my_pipeline.fit(train_X, train_y)
predictions = my_pipeline.predict(test_X)