In [2]:
import pandas as pd
import numpy as np

In [3]:
allData = pd.read_csv("test.csv")

In [4]:
allData.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [6]:
speedLimits = pd.read_csv("speed_limits/speed_limit_json/nyc_speed_limits.csv")
speedLimits.head()

,id,lat1,lon1,lat2,lon2,street,speed,signed,region,distance
0,0,40.813067,-73.922943,40.813324,-73.922877,alexander avenue,25,no,Bronx,0.018025
1,1,40.827542,-73.916381,40.827817,-73.917223,bonner place,25,no,Bronx,0.048041
2,2,40.868860,-73.907224,40.868857,-73.907301,bailey avenue,25,no,Bronx,0.004040
3,3,40.808913,-73.894871,40.811690,-73.895601,barry street,25,no,Bronx,0.195364
4,4,40.811690,-73.895601,40.812074,-73.895782,barry street,25,no,Bronx,0.028166

In [7]:
allData["pickup_datetime"].min()

'2016-01-01 00:00:22'

In [8]:
allData["pickup_datetime"].max()

'2016-06-30 23:59:58'