In [82]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer

# Read Data
data = pd.read_csv("train.csv")
#test = pd.read_csv("test.csv")

In [84]:
data.iloc[2].Ticket #I'll worry about tickets leter. The forums say it's good for locating families

'STON/O2. 3101282'

In [87]:
def returnStr(x):
    saved = ""
    for idx in x:
        if idx.isdigit():
            return saved
        saved = saved + idx
    return saved

data.drop(['Embarked'],inplace=True,errors="ignore",axis=1) # I don't think the port that they entered at is important
if "Cabin" in data:
    data.Cabin = data.Cabin.fillna("0")
    data["Deck"] = data.Cabin.map(lambda x: x[0])
    data["Room_num"] = data.Cabin.map(lambda x: x[1:]) # do not one hot encode this
data.drop(['Cabin'],inplace=True,errors="ignore",axis=1)
data['Age'] = data['Age'].fillna(data['Age'].median())
data.Ticket = data.Ticket.map(lambda x: returnStr(x))
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Deck,Room_num
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/,7.2500,0,
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC,71.2833,C,85
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O,7.9250,0,
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,,53.1000,C,123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,,8.0500,0,
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,,8.4583,0,
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,,51.8625,E,46
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,,21.0750,0,
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,,11.1333,0,
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,,30.0708,0,
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP,16.7000,G,6
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,,26.5500,C,103
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/,8.0500,0,
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,,31.2750,0,
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,,7.8542,0,
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,,16.0000,0,
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,,29.1250,0,
17,18,1,2,"Williams, Mr. Charles Eugene",male,28.0,0,0,,13.0000,0,
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,,18.0000,0,
19,20,1,3,"Masselmani, Mrs. Fatima",female,28.0,0,0,,7.2250,0,
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,,26.0000,0,
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,,13.0000,D,56
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,,8.0292,0,
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,,35.5000,A,6
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,,21.0750,0,
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,,31.3875,0,
26,27,0,3,"Emir, Mr. Farred Chehab",male,28.0,0,0,,7.2250,0,
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,,263.0000,C,23 C25 C27
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28.0,0,0,,7.8792,0,
29,30,0,3,"Todoroff, Mr. Lalio",male,28.0,0,0,,7.8958,0,
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,,11.5000,0,
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,,25.9292,D,17
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,28.0,8,2,CA.,69.5500,0,
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,,13.0000,0,
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,,13.0000,0,
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS,13.8583,0,
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC,50.4958,A,24
868,869,0,3,"van Melkebeke, Mr. Philemon",male,28.0,0,0,,9.5000,0,
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,,11.1333,0,
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,,7.8958,0,
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,,52.5542,D,35
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,,5.0000,B,51 B53 B55
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,,9.0000,0,
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP,24.0000,0,
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,,7.2250,0,
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,,9.8458,0,
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,,7.8958,0,
878,879,0,3,"Laleff, Mr. Kristo",male,28.0,0,0,,7.8958,0,
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,,83.1583,C,50
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,,26.0000,0,
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,,7.8958,0,
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,,10.5167,0,
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON,10.5000,0,
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ,7.0500,0,
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,,29.1250,0,
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,,13.0000,0,
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,,30.0000,B,42
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C.,23.4500,0,
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,,30.0000,C,148
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,,7.7500,0,

In [ ]:
#credit (Ahmed BESBES): https://ahmedbesbes.com/how-to-score-08134-in-titanic-kaggle-challenge.html
titles = set()
for name in data['Name']:
    titles.add(name.split(',')[1].split('.')[0].strip())

Title_Dictionary = {
    "Capt": "Officer",
    "Col": "Officer",
    "Major": "Officer",
    "Jonkheer": "Royalty",
    "Don": "Royalty",
    "Sir" : "Royalty",
    "Dr": "Officer",
    "Rev": "Officer",
    "the Countess":"Royalty",
    "Mme": "Mrs",
    "Mlle": "Miss",
    "Ms": "Mrs",
    "Mr" : "Mr",
    "Mrs" : "Mrs",
    "Miss" : "Miss",
    "Master" : "Master",
    "Lady" : "Royalty"
}

def get_titles():
    # we extract the title from each name
    combined['Title'] = combined['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())
    
    # a map of more aggregated title
    # we map each title
    combined['Title'] = combined.Title.map(Title_Dictionary)
    return combined

In [19]:
from sklearn.preprocessing import LabelEncoder
# I have to replace the original lables and do one hot encoding
data[['Sex',]].apply(LabelEncoder().fit_transform)

     Pclass  Sex  SibSp  Parch  Cabin  Fare  Embarked
1         0    0      1      0     72    57         0
3         0    0      1      0     48    44         2
6         0    1      0      0    117    41         2
10        2    0      1      1    131    10         2
11        0    0      0      0     43    17         2
21        1    1      0      0     99     8         2
23        0    1      0      0     10    31         2
27        0    1      3      2     55    91         2
52        0    0      1      0     90    60         0
54        0    1      0      1     18    52         0
62        0    1      1      0     71    69         2
66        1    0      0      0    129     5         2
75        2    1      0      0    127     2         2
88        0    0      3      2     55    91         2
92        0    1      1      0    110    51         2
96        0    1      0      0      9    30         0
97        0    1      0      1     81    53         0
102       0    1      0      1     87    61         2
110       0    1      0      0     45    42         2
118       0    1      0      1     31    89         0
123       1    0      0      0    104     8         2
124       0    1      0      1     87    61         2
136       0    0      0      2     95    14         2
137       0    1      1      0     48    44         2
139       0    1      0      0     39    65         0
148       1    1      0      2    128    13         2
151       0    0      1      0     53    54         2
170       0    1      0      0     14    28         2
174       0    1      0      0     11    25         0
177       0    0      0      0     60    21         0
..      ...  ...    ...    ...    ...   ...       ...
737       0    1      0      0     12    92         0
741       0    1      1      0     59    64         2
742       0    0      2      2     30    90         0
745       0    1      1      1     16    56         2
748       0    1      1      0     89    44         2
751       2    1      0      1    106     6         2
759       0    0      0      0     35    70         2
763       0    0      1      2     41    79         2
765       0    0      1      0     82    62         2
772       1    0      0      0    124     5         2
779       0    0      0      1     17    86         2
781       0    0      1      0     15    49         2
782       0    1      0      0    100    23         2
789       0    1      0      0     38    65         0
796       0    0      0      0     84    12         2
802       0    1      1      2     41    79         2
806       0    1      0      0      8     0         2
809       0    0      1      0    125    44         2
820       0    0      1      1     32    74         2
823       2    0      0      1    106     6         2
835       0    0      1      1    118    68         0
853       0    0      0      1     88    34         2
857       0    1      0      0    107    17         2
862       0    0      0      0     84    12         2
867       0    1      0      0      4    39         2
871       0    0      1      1     91    43         2
872       0    1      0      0     29     1         2
879       0    0      0      1     61    68         0
887       0    0      0      0     25    23         2
889       0    1      0      0     52    23         0

[183 rows x 7 columns]

In [13]:
#cols_to_use = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch','Fare','Cabin','Embarked']

cols_to_use = ['Fare','Sex']
X = data[cols_to_use]
y = data.Survived
train_X, test_X, train_y, test_y = train_test_split(X, y)

In [14]:
my_pipeline = make_pipeline(Imputer(), RandomForestRegressor())
my_pipeline.fit(train_X, train_y)
predictions = my_pipeline.predict(test_X)

ValueError: could not convert string to float: 'female'

In [ ]:
# Read the test data
test = pd.read_csv('test.csv')
# Treat the test data in the same way as training data. In this case, pull same columns.
test_X = test[cols_to_use]
# Use the model to make predictions
predicted = my_pipeline.predict(test_X)
# We will look at the predicted prices to ensure we have something sensible.
print(predicted)
newArr = []
for x in predicted:
    newArr.append(int(round(x)))

In [ ]:
newArr

In [ ]:
my_submission = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': newArr})
# you could use any filename. We choose submission here
my_submission.to_csv('submission1.csv', index=False)