In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer

# Read Data
data = pd.read_csv("train.csv")
#test = pd.read_csv("test.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
data.Sex.dtype

dtype('O')

In [26]:
data.Sex.unique()

array(['male', 'female'], dtype=object)

In [27]:
data.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [31]:
len(data)

183

In [30]:
data = data.dropna()

In [33]:
from sklearn.preprocessing import LabelEncoder
data[['Pclass','Sex','SibSp','Parch','Cabin','Fare','Embarked']].apply(LabelEncoder().fit_transform)

     Pclass  Sex  SibSp  Parch  Cabin  Fare  Embarked
1         0    0      1      0     72    57         0
3         0    0      1      0     48    44         2
6         0    1      0      0    117    41         2
10        2    0      1      1    131    10         2
11        0    0      0      0     43    17         2
21        1    1      0      0     99     8         2
23        0    1      0      0     10    31         2
27        0    1      3      2     55    91         2
52        0    0      1      0     90    60         0
54        0    1      0      1     18    52         0
62        0    1      1      0     71    69         2
66        1    0      0      0    129     5         2
75        2    1      0      0    127     2         2
88        0    0      3      2     55    91         2
92        0    1      1      0    110    51         2
96        0    1      0      0      9    30         0
97        0    1      0      1     81    53         0
102       0    1      0      1     87    61         2
110       0    1      0      0     45    42         2
118       0    1      0      1     31    89         0
123       1    0      0      0    104     8         2
124       0    1      0      1     87    61         2
136       0    0      0      2     95    14         2
137       0    1      1      0     48    44         2
139       0    1      0      0     39    65         0
148       1    1      0      2    128    13         2
151       0    0      1      0     53    54         2
170       0    1      0      0     14    28         2
174       0    1      0      0     11    25         0
177       0    0      0      0     60    21         0
..      ...  ...    ...    ...    ...   ...       ...
737       0    1      0      0     12    92         0
741       0    1      1      0     59    64         2
742       0    0      2      2     30    90         0
745       0    1      1      1     16    56         2
748       0    1      1      0     89    44         2
751       2    1      0      1    106     6         2
759       0    0      0      0     35    70         2
763       0    0      1      2     41    79         2
765       0    0      1      0     82    62         2
772       1    0      0      0    124     5         2
779       0    0      0      1     17    86         2
781       0    0      1      0     15    49         2
782       0    1      0      0    100    23         2
789       0    1      0      0     38    65         0
796       0    0      0      0     84    12         2
802       0    1      1      2     41    79         2
806       0    1      0      0      8     0         2
809       0    0      1      0    125    44         2
820       0    0      1      1     32    74         2
823       2    0      0      1    106     6         2
835       0    0      1      1    118    68         0
853       0    0      0      1     88    34         2
857       0    1      0      0    107    17         2
862       0    0      0      0     84    12         2
867       0    1      0      0      4    39         2
871       0    0      1      1     91    43         2
872       0    1      0      0     29     1         2
879       0    0      0      1     61    68         0
887       0    0      0      0     25    23         2
889       0    1      0      0     52    23         0

[183 rows x 7 columns]

In [7]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
#cols_to_use = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch','Fare','Cabin','Embarked']

cols_to_use = ['Fare','Sex']
X = data[cols_to_use]
y = data.Survived
train_X, test_X, train_y, test_y = train_test_split(X, y)

In [5]:
my_pipeline = make_pipeline(Imputer(), RandomForestRegressor())
my_pipeline.fit(train_X, train_y)
predictions = my_pipeline.predict(test_X)

ValueError: could not convert string to float: 'male'

In [17]:
predictions

array([ 0.6       ,  0.2682974 ,  0.7       ,  0.65      ,  0.86666667,
        0.6       ,  0.95      ,  0.1       ,  0.4       ,  0.64166667,
        0.        ,  0.79166667,  0.56650168,  0.96      ,  0.4396592 ,
        0.        ,  0.        ,  0.31539893,  0.23928571,  0.43269205,
        1.        ,  0.1       ,  0.15326118,  0.56650168,  0.50444444,
        0.1341342 ,  0.86666667,  0.6675    ,  0.4       ,  0.04285714,
        0.23928571,  0.05254329,  0.24354812,  0.85      ,  0.        ,
        0.4396592 ,  0.66785714,  0.43269205,  1.        ,  0.64166667,
        0.60333333,  0.04285714,  0.8       ,  0.56650168,  0.76666667,
        0.37983957,  0.71666667,  0.7       ,  0.64166667,  0.1       ,
        0.43269205,  0.        ,  0.        ,  0.4396592 ,  0.88214286,
        0.1       ,  0.3288524 ,  0.9       ,  0.        ,  0.05254329,
        0.74401515,  0.        ,  0.31539893,  0.1341342 ,  0.        ,
        1.        ,  0.        ,  0.11106525,  0.1       ,  0.24354812,
        1.        ,  1.        ,  0.56650168,  0.        ,  1.        ,
        1.        ,  0.85      ,  0.05254329,  0.        ,  0.1       ,
        0.6       ,  0.9       ,  0.13194444,  0.8       ,  0.4       ,
        0.9       ,  0.6       ,  0.8       ,  0.37983957,  0.66785714,
        0.        ,  0.        ,  0.11106525,  1.        ,  0.60333333,
        0.        ,  0.31539893,  0.62333333,  0.15326118,  0.66785714,
        0.1341342 ,  0.        ,  0.        ,  0.43269205,  0.11106525,
        0.37983957,  0.1       ,  0.        ,  0.32157509,  0.        ,
        0.86119048,  0.4396592 ,  0.        ,  0.56333333,  0.56650168,
        1.        ,  0.43269205,  0.15326118,  0.        ,  0.74401515,
        0.60333333,  0.        ,  0.        ,  0.        ,  0.1       ,
        0.9       ,  0.1341342 ,  0.7       ,  0.        ,  1.        ,
        0.        ,  0.6675    ,  0.15326118,  0.        ,  0.        ,
        0.1       ,  0.4396592 ,  0.        ,  0.        ,  0.        ,
        0.6       ,  0.4       ,  0.56650168,  0.6675    ,  0.        ,
        0.11106525,  0.        ,  0.1       ,  0.11106525,  0.56650168,
        0.        ,  0.        ,  0.        ,  0.13194444,  0.        ,
        0.77110984,  0.56650168,  0.44166667,  0.        ,  0.11106525,
        0.1341342 ,  0.56650168,  0.37983957,  0.        ,  1.        ,
        0.65      ,  0.        ,  0.        ,  0.        ,  0.05254329,
        0.        ,  0.15326118,  1.        ,  0.        ,  0.        ,
        0.65452381,  0.95      ,  0.74401515,  0.8       ,  0.7       ,
        0.43269205,  0.9       ,  0.74401515,  0.        ,  1.        ,
        0.74401515,  0.42916667,  0.61964286,  0.6       ,  0.6       ,
        0.31539893,  0.40904762,  0.42916667,  0.31539893,  0.        ,
        0.6       ,  0.        ,  0.43269205,  0.6       ,  0.37983957,
        0.        ,  1.        ,  0.31539893,  0.2682974 ,  0.37983957,
        0.        ,  0.05254329,  0.        ,  0.74401515,  1.        ,
        0.15326118,  0.11106525,  0.1341342 ,  0.        ,  0.59166667,
        0.43269205,  0.71666667,  0.        ,  0.        ,  0.65452381,
        0.42916667,  0.90833333,  0.        ])

In [32]:
# Read the test data
test = pd.read_csv('test.csv')
# Treat the test data in the same way as training data. In this case, pull same columns.
test_X = test[cols_to_use]
# Use the model to make predictions
predicted = my_pipeline.predict(test_X)
# We will look at the predicted prices to ensure we have something sensible.
print(predicted)
newArr = []
for x in predicted:
    newArr.append(int(round(x)))

[ 0.35833333  0.          0.58761905  0.1341342   0.66666667  0.          0.
  0.9         0.2682974   0.18405844  0.          0.56650168  0.59166667
  0.56650168  0.1         0.          0.87738095  0.3288524   0.37983957
  0.3288524   1.          0.          0.69666667  0.1         0.95
  0.40904762  0.1         0.3288524   0.65        0.1         0.56650168
  0.69666667  0.60333333  0.4         1.          0.2682974   0.11106525
  0.1341342   0.13194444  0.65452381  0.9         0.74401515  0.24354812
  0.43269205  0.9         0.37983957  0.28        0.31539893  0.9         0.96
  0.5         0.          1.          0.64166667  0.2         0.          0.
  0.          0.32157509  0.95        0.          0.6         0.31539893
  0.075       0.95        0.          1.          0.6         0.
  0.64166667  0.31539893  0.          0.37983957  0.          0.7         0.7
  0.11106525  0.24285714  0.43269205  0.31539893  0.64166667  0.46
  0.56650168  0.          0.14918301  0.23928571  1.          0.11106525
  0.31539893  1.          0.8         0.05254329  0.38047619  0.11106525
  0.56650168  0.50444444  0.50833333  0.37983957  0.24354812  0.11106525
  0.95        0.56650168  0.31539893  0.05254329  0.6         0.3
  0.35333333  0.31539893  0.1341342   0.43269205  0.          0.05254329
  0.69666667  0.15326118  0.46        0.23928571  0.          1.          0.9
  0.56650168  1.          0.31539893  1.          0.15326118  0.31539893
  0.32157509  0.50444444  1.          0.43269205  0.11106525  0.11106525
  0.          0.04285714  0.          0.          0.24354812  0.3288524
  0.43269205  0.11106525  0.          0.          0.44166667  0.95
  0.56650168  0.74401515  0.          0.6         0.11106525  0.74401515
  0.56650168  0.71666667  0.          0.65        0.36666667  0.69666667
  0.          0.46        0.24354812  0.74401515  0.8         0.55190476
  0.64166667  0.6         0.          0.43269205  0.9         0.1         0.1
  0.          0.          0.          0.3288524   0.8         0.2682974
  0.69666667  0.6         0.48333333  0.95        0.6         0.71666667
  0.43269205  0.71666667  0.1         0.31539893  0.54333333  0.9         0.
  0.11106525  0.          0.43269205  0.56650168  0.56650168  0.40904762
  0.87738095  0.86119048  0.24354812  1.          0.05254329  0.4396592
  0.7         0.6675      0.          0.79166667  0.56650168  0.4396592
  0.47110984  0.31539893  0.4396592   0.          0.          0.3         0.
  0.          0.56650168  0.05254329  0.6         1.          0.42916667
  0.7         0.11106525  0.8         0.11106525  0.4396592   0.50444444
  0.          0.64166667  0.50444444  0.31539893  0.          0.43269205
  1.          0.74401515  0.          1.          0.8         0.24354812
  0.9         0.3288524   0.43269205  0.54        0.          0.61964286
  1.          1.          0.4         0.6         0.          0.86119048
  0.56650168  0.23928571  0.54142857  0.37983957  1.          0.34166667
  0.13194444  0.          0.31539893  0.11106525  0.43269205  0.05254329
  0.6         0.24354812  1.          0.36666667  0.7         0.          0.
  0.          0.11106525  0.1341342   0.9         0.31539893  1.          0.6675
  0.3288524   0.56650168  0.4396592   0.56650168  0.          0.4396592
  0.1341342   0.8         0.31539893  0.64166667  0.          0.15326118
  0.15326118  0.59166667  0.2682974   0.11106525  0.6         0.          0.2682974
  0.59166667  0.13194444  0.          0.6         0.1         0.
  0.24354812  0.05254329  0.          0.          0.1341342   0.31539893
  0.74401515  0.44166667  0.34166667  1.          0.4         0.1341342
  0.3288524   0.          0.31539893  1.          0.55190476  0.76666667
  0.4396592   0.24354812  0.69666667  0.05254329  0.2682974   0.43269205
  0.74401515  0.7         0.          0.6         0.85        0.56650168
  0.43269205  0.48333333  0.28        0.3288524   1.          0.
  0.56650168  0.43269205  0.2682974   0.69666667  0.2682974   0.4396592   0.
  0.          0.86666667  0.40904762  0.          0.43269205  0.2682974
  0.6         0.          0.8         0.4396592   0.          1.
  0.60333333  0.56650168  0.85        1.          0.31539893  0.2         0.
  0.43333333  0.          0.1341342   0.95        0.          0.1         0.
  1.          0.8         0.          1.          0.          0.43269205
  0.59166667  0.95        0.1341342   0.          0.          0.69666667
  0.31539893  1.          0.40904762  0.32157509  0.21109216  1.
  0.05254329  0.43269205  0.31539893  0.          1.          0.9         0.
  0.4396592   0.9         0.5         0.15326118  0.85        0.05254329
  0.55190476  0.42916667  0.          1.          0.          0.          0.8
  0.4396592   0.7         0.075       0.8         0.31539893  0.8
  0.05254329  0.11106525  0.47333333  0.15326118  0.11106525  0.9       ]

In [33]:
newArr

[0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1]

In [37]:
my_submission = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': newArr})
# you could use any filename. We choose submission here
my_submission.to_csv('submission1.csv', index=False)